@model List<AvailableBookingViewModel>
@{
    ViewData["Title"] = "List of Movies";
    int cnt = Model.Count;
}


<div class="card-columns">
    @for (int i = 0; i < cnt; i++)
    {
        @if (Model[i].Date.Date.Equals(DateTime.Parse("10/31/2021")))
        {
            <div class="card bg-negru">
                <img src="@Model[i].Movie.PosterUrl" class="card-img-top img-fluid" alt="card image @i" />
                <div class="card-body">
                    <h5 class="card-title text-center">@Model[i].Movie.Title</h5>
                    <div class="card-text d-flex">
                        <div class="mr-2">Available at:</div>
                        @foreach (var hour in Model[i].Hours)
                        {
                            <div class="mr-2 border border-light rounded">@hour.Hour : @hour.Minutes</div>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
